*{
    padding: 0;
    margin: 0;
}
/* fonts 
1 ubuntu 400/700/500
2 overpass 600/300
*/
.container{
    max-width: 1166px;
    padding: 0px 25px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.btn{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;  
    font-size: 16px;
    line-height: 18px;
    border-radius: 50px;
}
/* SECTION STYLES */
.header{
    background: url('img/Group\ 7.png');
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: auto;
}
.designed{
    font-family: 'Overpass';
    text-align: center;
    color:#1F3E5A;
    position: relative;
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 300px;
}
.state{
    background: url('./img/Rectangle\ Copy.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1440px;
    margin-bottom: 50px;
}
.simple{
    font-family: 'Overpass';
    text-align: center;
    color:#1F3E5A;
    position: relative;
    max-width: 1440px;
    display: flex;
    align-items: center;
    padding: 0px 25px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.footer{
    margin: auto;
    max-width: 1440px;
    background: url('./img/Rectangle.png');
    height: 359px;
    background-position: right;
    background-repeat: no-repeat;
}
/* NAVBAR STYLES */
.navbar{
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding-top: 20px;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 132px;
}
.logo{
    margin-right: 64px;
}
.lists{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    margin-right: auto;
}

.nav-item{
    list-style: none;
    margin-right: 32px;
    position: relative;
    transition: 0.5 ease;
    height: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-link{
    color: white;
    text-decoration: none;
    padding-left: 15px;
}
.rotate{
    margin-left: 8px;
    transition: 0.5s;
}
.rotate1{
    margin-left: 8px;
    transition: 0.5s;
    display: none;
}
.unset-list{
    background: white;
    position: absolute;
    padding: 24px;
    border-radius: 5px;
    margin-top: 170px;
    display: none;
    transition: 0.5s;
}
.nav-item:hover .unset-list{
    display: block;
}
.nav-item:hover .rotate{
    transform: rotate(180deg);
}
.nav-item:hover .rotate1{
    transform: rotate(180deg);
}
.nav-item:hover .nav-link{
    text-decoration: underline;
}
.unset-item{
    list-style: none;
}
.unset-item:not(:last-child){
    margin-bottom: 10px;
}
.unset-link{
    color: black;
    text-decoration: none;
    opacity: 0.8;
    font-size: 15px;
    font-weight: 400;
}
.unset-link:active{
    opacity: 1;
    font-weight: 700;
}
.btn{
    padding: 15px 40px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.sign-up-btn{
    color: #FF505C;
    background: white;
    border-radius: 50px;
}
.sign-up-btn:hover{
    background: #FF7B86;
    border-radius: 50px;
    color:white;
}
/* PLATFORM STYLES */
.platform{
    font-family: 'Overpass', sans-serif;
    text-align: center;
    color:white;
}
.title{
    font-size: 64px;
    font-weight: 600;
    line-height: 98px;
    letter-spacing: -1.9199999570846558px;
    text-align: center;  
    margin-bottom: 8px;
}
.platform-text{
    font-weight: 300;
    margin-bottom: 50px;
}
.learn-more{
    border: 1px solid white;
    margin-left: 10px;
}
.learn-more:hover{
    background: white;
    color:#FF505C;
}
.free{
    margin-right: 10px;
}
/* DESIGNED STYLES */
.designed-title{
    font-size: 40px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: -1.2000000476837158px;
    color: #1F3E5A;
    margin-bottom: 93px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card{
    max-width: 540px;
    text-align: left;
}
.card:first-child{
    margin-bottom: 64px;
}

.card-title{
    margin-bottom: 16px;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}
.card-text{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.5px;
}
.content-img{
    position: absolute;
    background-image: url('./img/Group\ 21.png');
    right: -10%;
    height: 880px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-img{
    margin-right: 100px;
    margin-left: -100px;
}
.state-img{
  position: absolute;
  margin-top: -110px;
  left: 10%;
}
.state-text{
    color:white;
    font-family: 'Overpass', sans-serif;
    margin-right: -600px;
    margin-top: 60px;
}

.powerfool{
    display: flex;
    align-items: center;
}
.simple-img{
    margin-left: -200px;
}
.footer-text{
    padding: 70px 0px;
    display: flex;
}
.footer-logo{
    margin-right: auto;
}
.footer-list{
    font-family: 'Ubuntu', sans-serif;
    color:white;
}
.footer-list:not(:last-child){
    margin-right: 240px;
}
.footer-title{
    margin-bottom: 15px; 
    font-size: 15px;
    font-weight: 500;
    line-height: 33px;
}
.footer-item{
    list-style: none;
    margin-bottom: 5px;
}
.footer-link{
    text-decoration: none;
    color:white;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    opacity: 0.7;
}
.burger {
    display: none;
    cursor: pointer;
}


.state-img1{
    display: none;
}
@media screen and (max-width:768px){
    body{
        max-width:768px;
        overflow-x: hidden;
    }

    /* BURGER STYLES */
    
.burger-btn {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 35%;
    right: 10%;
    width: 35px;
    height: 35px;
    
  }
  .burger-btn .lines {
    display: block;
    width: 100%;
    height: 4px;
    background: #fff;
    position: relative;
    top: 50%;
    transition: transform 0.5s cubic-bezier(0, 0, 1, 1), background 0.5s ease;
    margin-top: -2px;
  }
  .burger-btn .lines:after,
  .burger-btn .lines:before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    background: #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  }
  .burger-btn .lines:after {
    bottom: -10px;
  }
  .burger-btn .lines:before {
    top: -10px;
  }
  .burger-btn.active .lines {
    background: transparent;
    transform: rotate(90deg);
  }
  .burger-btn.active .lines:after {
    top: 0;
    transform: rotate(-135deg);
  }
  .burger-btn.active .lines:before {
    top: 0;
    transform: rotate(135deg);
  }
/* TUGADI   */
    .container{
        max-width:768px;
        padding: 0px 10px;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
    }
    .header{
        max-width:768px;
        background-position:left;
        overflow-x: hidden;
    }
    .designed{
        max-width:768px;
        padding-top: 100px;
        overflow-x: hidden;
    }

    .simple{
        max-width:768px;
        overflow-x: hidden;
    }
    .footer{
        max-width:768px;
        overflow-x: hidden;
    }
    .navbar{
        position: relative;
    }
    .lists{
        display: flex;
        flex-direction: column;
        background: white;
        color:#1F3E5A;
        width: 100%;
        position: absolute;
        top:150%;
        height: 511px;
        border-radius: 10px;
        transform: translateX(600px);
        transition: 0.7s ease-in;
    }
    .lists-active{
       transform: translateX(0px);
       opacity: 1;
       transition: 0.7s;
    }
    
    .nav-list{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .nav-item{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        justify-content: center;
        margin-bottom: -50px;
        position: relative;
    }
    .unset-list{
        background: #d8d8d8;
        width:80%;
        height: 120px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 320px;
        z-index: 99;
    }
    .unset-item:not(:last-child){
        margin-bottom: 30px;
    }
    .nav-link, .unset-link{
        color:#1F3E5A;
    }
    .rotate{
        display: none;
    }
    .rotate1{
        display: inline-block;
    }
    .buttons{
        display: flex;
        flex-direction: column;
      position: absolute;
      bottom: 5%;
    }
    .login-btn{
        color:#1F3E5A;
        text-align: center;
    }
    .sign-up-btn{
        background: #FF505C;
        color:white;
    }
   
    .title{
        font-size: 36px;
        font-weight: 600;
        line-height: 55px;
        letter-spacing: -1.0800000429153442px;
        text-align: center;        
    }
    .platform-text{
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        text-align: center;
        max-width:350px;
        padding: 0px 18px;
    }
    .free{
        padding: 15px 16px;
        font-family: 'Ubuntu';
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
    }
    .learn-more{
        padding: 15px 24px;
    }
    .designed-title{
        font-size: 28px;
        font-weight: 600;
        line-height: 43px;
        letter-spacing: -0.8399999737739563px;
    }
    .img-img{
       display: none;
    }
    .content-img{
       background: url('./img/Group\ 10.svg');
       width: 326px;
       height:326px ;
       top: 15%;
       left: 10%;
    }
    .content-card{
        text-align: center;
        margin-top: 410px;
    }
    .card{
        text-align: center;
        padding: 0px 20px;
    }
    .card-title{
        text-align: center;
        font-size: 28px;
        font-weight: 600;
        line-height: 32px;
    }
    .state{
        background: url('./img/bg.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 625px;
        max-width: 768px;
        overflow-x: hidden;
        z-index: -1;
    }
   .state-img{
       display: none;
   }
   .state-img1{
       display: block;
       margin-bottom: -200px;
       z-index: 99;
   }
   .state-text{
       margin: 0;
       padding: 0;
       margin-top: 100px;
   }
   .simple{
       display: flex;
       flex-direction: column;
   }
   .simple-img{
       background: url('./img/minicomp.png');
       width: 328px;
       height: 326px;
       background-position:center;
       background-repeat:no-repeat;
       margin-left: auto;
   }
   .simple-content{
       margin-top: 50px;
   }
   .imgss{
       display: none;
   }
   .footer{
    background: url('./img/footer.png');
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 80px;
   }
   .footer-list{
    margin: 0px;
}
  .footer-text{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
  }
  .footer-logo{
      margin: 0;

  }
.s{
    margin: 0  !important;
}
  
}